.flag {
  border: 1px solid rgb(9, 1, 1);
  width: 45vw;
  height: 120px;
}

.card-container {
  padding: 10px;
  height: 20rem;
}

.country-and-arrow {
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin-top: 1.6rem;
  cursor: pointer;
  width: 1.3rem;
  height: auto;
}

.country-name {
  max-width: 100px;
  width: auto;
}

.country-name-holder {
  height: 3.4rem;
}
