.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: chartreuse;
}